<!-- Make a div for each heatpump and render the partial for that heatpump -->

      <% heatpumps.forEach( function(heatpump) { %>
        <div class="heatpump" id="<%= heatpump.id %>" data-power="<%= heatpump.power %>" data-mode="<%= heatpump.mode %>">

          <%- include heatpump %>
          
          <div class="mode_select" id="<%= heatpump.id %>">
            <%- include mode_select %>
          </div>
        </div>
        
        
        
      <% }) %>